html {
    background-color: rgb(90,90,90);
}
img{
    width :50%;
    height: 50%;
}
h1 {
    padding: 20px;
    color: white;
    font: larger;
    font-family: Consolas, sans-serif;
    text-align: center;
    text-decoration: underline;
    word-spacing: -10px;
    text-shadow: 4px 4px 4px black;
}
p {
    border: solid 10px;
    margin: 10px 10px 100px 10px;
    padding: 50px 50px 50px 50px;
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: end;
    font-weight: bold;   
}