html {
    background-color: #AAAAAA;
}
body{
    font-family: sans-serif;
}
h1 {
    color: #111111;
    font: larger;
    font-family: Consolas, sans-serif;
    text-align: center;
    text-shadow: 4px 4px 5px grey;
}
img{
    max-width: 300px;
}
.cards {
 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;     
    margin: 4px auto;
    max-width: 1200px;
}
     
     
.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    text-align: center;
}