html {
    background-color: #c2cad0;
}
body{
    font-family: sans-serif;
}
h1 {
    color: #111111;
    font: larger;
    text-align: center;
    text-shadow: 4px 4px 5px grey;
}
img{
    max-width: 300px;
}
.cards {
 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;     
    margin: 4px auto;
    max-width: 1200px;
}
.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    text-align: center;
    background-color: #afd275;
    font-family: Consolas, sans-serif;
    font-size: larger;    
}
.attributes{
    text-align: left;
    font-size: 16px; 
}
.description{
    text-align: center;
}
.campaignButton{
    transition-duration: 0.4s;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
    margin: auto;
}

.campaignButton:hover {
    background-color: #afd275;
    color: black;
}